<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccessToken" value="64409042-2RaGDeLwjNa8GoSCnRn7oNz0xeRrtRGcoKuo6JMes"/>
    <add key="AccessTokenSecret" value="DwstEoVcNry8mieszhaM2JzijLxbM6VHcG8xqbrYtsk"/>
    <add key="ConsumerKey" value="8SlJEl2hwE2j14hHPmS6zA"/>
    <add key="ConsumerSecret" value="2EvMyCKiDQDcZ6Eyk6z32WtkfoOAQpDY0Y8AB1PU54"/>
  </appSettings>
</configuration>


